<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Handrop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B83308361E3EE79F00CC8D4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B833084A1E3EE7A000CC8D4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B83308551E3EE7A000CC8D4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
